################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/out/Ubuntu-24.04/build/linux-debug
